.footerDiv {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.4);
  }
  
  .footerDiv h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .footerDiv p {
    margin: 6px 0;
    font-size: 14px;
    color: #ddd;
  }
  
  .heart-icon {
  color: crimson;
  font-size: 16px;
  transform: translateY(3px);
}
  
  @media (max-width: 768px) {
    .footerDiv {
      padding: 30px 40px;
    }
  
    .footerDiv h2 {
      font-size: 1.6rem;
    }
  
    .footerDiv a {
      font-size: 14px;
    }
  }
